<div class="card" class="cart-card" style="width: 50vw;">
  <div class="card-body">
    <div class="card-title container" data-id="{{orders}}">
      <h4 class="col-sm-8">
        <span class="cart-quantity">{{quantity}}</span>
        <span class="cart-mealName">{{mealName}}</span>
      </h4>
      <div class="cart-price">
        <h4>${{total}}</h4>
        <h6 class="text-muted">${{price}}ea.</h6>
      </div>
      <section data-id="{{orders}}">
        <form class="remove-meal-button" data-price="{{total}}" data-id="{{orders}}" data-quantity="{{quantity}}">
          <button id="remove-meal-button" type="submit" class="btn btn-danger right">Remove</button>
        </form>
      </section>
    </div>
  </div>
</div>
