
  {{log order}}
  <div class="card" class="cart-card" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title" data-id="{{order.id}}"> <small>{{mealName}}</small></h4>
      <section data-id="{{order.id}}">
        <p>{{total}}</p>
        <form class="order-meal-button" data-price="{{price}}" data-id="{{order.id}}">
          <button type="submit" class="btn btn-default add-meal">Remove</button>
        </form>
      </section>
    </div>
  </div>
