{{#each meals as |meal|}}
  {{log meal}}
  <div class="card" id="meal-card" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title" data-id="{{meal.id}}"> <small>{{meal.name}}</small></h4>
      <section data-id="{{meal.id}}">
        <p>{{meal.price}}</p>
        <form class="order-meal-button" data-price="{{meal.price}}" data-id="{{meal.id}}">
          <input type="integer" name="quantity" placeholder="Quantity">
          <button type="submit" class="btn btn-default add-meal">Add to order</button>
        </form>
        <h5>Total:</h5>
      </section>
    </div>
  </div>
{{/each}}
